<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeList</key>
	<array>
		<dict>
			<key>id</key>
			<string>iphone</string>
			<key>tag</key>
			<string>200</string>
			<key>displayName</key>
			<string>iPhone</string>
			<key>path</key>
			<string>iPhone</string>
			<key>basicKey</key>
			<array>
				<string>KeypressStandard</string>
				<string>KeypressStandard</string>
				<string>KeypressStandard</string>
				<string>KeypressStandard</string>
				<string>KeypressStandard</string>
			</array>
			<key>returnKey</key>
			<string>KeypressReturn</string>
			<key>backspaceKey</key>
			<string>KeypressDelete</string>
			<key>scrollDownKey</key>
			<string>KeypressStandard</string>
			<key>scrollUpKey</key>
			<string>KeypressStandard</string>
			<key>spaceKey</key>
			<string>KeypressSpacebar</string>
		</dict>
		<dict>
			<key>id</key>
			<string>classic1</string>
			<key>tag</key>
			<string>001</string>
			<key>displayName</key>
			<string>Classic Typewriter I</string>
			<key>path</key>
			<string>TypeWriter_Classic_1</string>
			<key>basicKey</key>
			<array>
				<string>key-new-01</string>
				<string>key-new-02</string>
				<string>key-new-03</string>
				<string>key-new-04</string>
				<string>key-new-05</string>
			</array>
			<key>returnKey</key>
			<string>return-new</string>
			<key>backspaceKey</key>
			<string>backspace</string>
			<key>scrollDownKey</key>
			<string>scrollDown</string>
			<key>scrollUpKey</key>
			<string>scrollUp</string>
			<key>spaceKey</key>
			<string>space-new</string>
		</dict>
		<dict>
			<key>id</key>
			<string>classic2</string>
			<key>tag</key>
			<string>002</string>
			<key>displayName</key>
			<string>Classic Typewriter II</string>
			<key>path</key>
			<string>TypeWriter_Classic_2</string>
			<key>basicKey</key>
			<array>
				<string>key-01</string>
				<string>key-02</string>
				<string>key-03</string>
				<string>key-04</string>
				<string>key-02</string>
			</array>
			<key>returnKey</key>
			<string>return</string>
			<key>backspaceKey</key>
			<string>backspace</string>
			<key>scrollDownKey</key>
			<string>scrollDown</string>
			<key>scrollUpKey</key>
			<string>scrollUp</string>
			<key>spaceKey</key>
			<string>space</string>
		</dict>
		<dict>
			<key>id</key>
			<string>olympia1970</string>
			<key>tag</key>
			<string>100</string>
			<key>displayName</key>
			<string>1970s Electric Olympia CE12</string>
			<key>path</key>
			<string>TypeWriter_1970-s_Electric_Olympia_CE12</string>
			<key>basicKey</key>
			<array>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
			</array>
			<key>returnKey</key>
			<string>return</string>
			<key>backspaceKey</key>
			<string>backspace</string>
			<key>scrollDownKey</key>
			<string>scrollDown</string>
			<key>scrollUpKey</key>
			<string>scrollUp</string>
			<key>spaceKey</key>
			<string>space</string>
		</dict>
		<dict>
			<key>id</key>
			<string>foley1960</string>
			<key>tag</key>
			<string>101</string>
			<key>displayName</key>
			<string>1960s Foley Smith Corona</string>
			<key>path</key>
			<string>TypeWriter_Foley_Smith_Corona_1960</string>
			<key>basicKey</key>
			<array>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
				<string>key-01</string>
			</array>
			<key>returnKey</key>
			<string>return</string>
			<key>backspaceKey</key>
			<string>backspace</string>
			<key>scrollDownKey</key>
			<string>scrollDown</string>
			<key>scrollUpKey</key>
			<string>scrollUp</string>
			<key>spaceKey</key>
			<string>space</string>
		</dict>
	</array>
	<key>Default</key>
	<dict>
		<key>id</key>
		<string>default</string>
		<key>tag</key>
		<string>999</string>
		<key>displayName</key>
		<string>Default</string>
		<key>path</key>
		<string>default</string>
		<key>basicKey</key>
		<array>
			<string>key-01</string>
			<string>key-02</string>
			<string>key-03</string>
			<string>key-04</string>
		</array>
		<key>returnKey</key>
		<string>return</string>
		<key>backspaceKey</key>
		<string>backspace</string>
		<key>scrollDownKey</key>
		<string>scrollDown</string>
		<key>scrollUpKey</key>
		<string>scrollUp</string>
		<key>spaceKey</key>
		<string>space</string>
	</dict>
</dict>
</plist>
